version: '3.7'
services:
  cardano-sl-cluster:
    image: inputoutput/cardano-sl:1.3.0-demo-cluster
    ports:
      - 9090:8090 # REST API
      - 9091:8091 # Docs
    volumes:
      - wallet-state:/state
  cardano-sl-graphql:
    build: ./
    environment:
      NODE_ENV: development
      SWAGGER_SCHEMA_URI: https://cardano-sl-cluster:8091/docs/v1/swagger.json
      REST_ENDPOINT: https://cardano-sl-cluster:8090
      TLS_PATH_CA: /data/wallet-state/tls/client/ca.crt
      TLS_PATH_KEY: /data/wallet-state/tls/client/client.key
      TLS_PATH_CERT: /data/wallet-state/tls/client/client.pem
    ports:
      - 4000:3000 # GraphQL server
    volumes:
      - wallet-state:/data/wallet-state:ro
volumes:
  wallet-state:
